@mixin button($width, $padding, $background-color, $color) {
    border: none;
    width: $width;
    padding: $padding;
    background-color: $background-color;
    color: $color;
}

@mixin icon($width, $height) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $height;
    border-radius: 50%;
}
